[tool.black]
line-length = 88
target-version = ["py38"]
extend-exclude = '/\.ipynb_checkpoints'

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
line_length = 88
skip_gitignore = true
known_first_party = "swem"

[tool.mypy]
python_version = 3.8
warn_return_any = true
warn_unused_configs = true

[[tool.mypy.overrides]]
module = [
    "setuptools"
]
ignore_missing_imports = true